<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: white;
}

h1 {
  color: green;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
  <body>
    <!-- <h1>About this page</h1>
      <p>This is a project created for CSCI 4448 at the University of Colorado, Boulder. It is created by Sam Berger, Sam Busser, and Jasmine Bascom. </p> -->
    <h1>Which playlist would you like to enchance? </h1>
    {% for playlist in playlist_list %}
      <p> {{playlist}} </p>
    {% endfor %}


      <!-- <p>Should see playlists above this</p> -->
  </body>
</html>

</body>
</html>
