<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Choose your Playlist</h1>
    {% for name, id in playlist_list.items %}
      <!-- <button type="submit" name="name_{{id}}" formaction="/prune/magic">{{name}}</button> -->
      <button name="id_{{id}}" onclick="window.location.href = '/prune/magic';">{{name}}</button>
      <!-- <a href="/prune/magic" class="btn btn-primary">{{name}}</a> -->
    {% endfor %}
  </body>
</html>
