<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>The chosen song to prune is:</h1>
    <h2>{{to_prune_name}}</h2>
    <iframe src="https://open.spotify.com/embed/track/{{to_prune_id}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <br>
    <!-- <button name="remove" onclick="return confirm('Are you sure you want to remove this song from your playlist?')", "/callback"> Remove Song </button> -->
    <button name="remove" type="submit" value="1" onclick="window.location.href = '/prune/remove?order={{to_prune_pos}}&song_id={{to_prune_id}}';">Remove</button>
    <!-- <button name = "remove" type="submit" value="1" onclick="window.location.href =/authenticate/callback"> Don't remove Song </button> -->
  </body>
</html>
